<h1> Submitted Information </h1>
	<%= session[:firstnm] %><br>
	<%= session[:lastnm] %><br>
	<%= session[:streetnm] %><br>
	<%= session[:zip_cty_st] %><br>
	<%= session[:phone] %><br>
	<%= session[:email] %><br>
